*{
    font-family: serif;
}
html{
    height: 100%;
    overflow: hidden;
}
body{
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.slide,
.slide2{
    width: 100%;
    height: 100vh;
    z-index: 2;
    font-size: 20px; 
}
.slide{
    background-image: url(../img/Mountain.jpg);
    background-attachment: fixed;
}
.slide2{
    background-image: url(../img/galaxy-wallpapers-10.jpg);
    /*background-attachment: fixed;*/
}
.content{
    width: 600px;
    background: #fff;
    padding: 20px;
    transform: translateZ(.20px) scale(.6);
    transform-origin: 100% 300%;
    margin: auto;
}
hr{
    height: 4px;
    background: #008ee6;
    border: none;
}
.content2, 
.content3{
    width: 600px;
    background: rgb(51, 0, 60);
    padding: 20px;
    margin: auto;
    box-shadow:  1px 1px 20px -2px black;
}
.content2{
    transform: translateZ(.60px) scale(.5);
    transform-origin: 50% 200%;
}
.content3{
    transform: translateZ(.80px) scale(.2);
    transform-origin: 44% 50%;
}